<%= image_tag "banner.svg", alt: "check_btn", class: "w-full h-full" %>
<div class="flex flex-row items-center md:w-auto w-full ml-10 mt-10">
  <div class="w-1 h-8 md:h-25 bg-zinc-700 mr-2 md:mr-4"></div>
  <div class="text-left">
    <p class="font-bold text-lg md:text-3xl leading-tight">
      THANAPHAT SATITKUNRUS
    </p>
    <p class="font-normal text-sm md:text-lg text-zinc-700">Cafeine Team</p>
  </div>
</div>